/* CSS RESET */
html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* MAIN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@400;500;700&display=swap');

* { box-sizing: border-box; }

body {
    background-color: #E2CE1A;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.container .left {
    background: #36320A;
    width: 304px;
    height: 555px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.container .left img {
    width: 157px;
    height: 91px;
    padding-top: 148px;
    padding-left: 44px;
}

.container .right {
    background: #FEFAA1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 944px;
    height: 555px;
    border-top-right-radius: 16px;
    border-bottom-right-radius:  16px;
    opacity: 1;
}

.container .right .righ-container {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 30px;
    border: 4px solid #fff;
    background: #36320A;
    width: 101px;
    height: 42px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{ color: #fff; }

h1, p { color: black;
}

input {
    background-color: #E2CE1A;
    width: 480px;
    height: 60px;
    border-radius: 16px;
    
}

.input {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 25px;
}